<%- include('../partials/header') %>

<h1 class="fontTitle"><%= title %></h1>

<form  action="/games/add" method="POST">

<div class="form-control">
  <input class="input input-alt" placeholder="Game Name" required="" type="text" name="name">
  <span class="input-border input-border-alt"></span>
</div>

<br><br>

  <div class="form-control">
    <input class="input input-alt" placeholder="Description" required="" type="text" name="type">
    <span class="input-border input-border-alt"></span>
  </div>
<br><br>

  <div class="form-control">
    <input class="input input-alt" placeholder="Poster" required="" type="text" name="poster">
    <span class="input-border input-border-alt"></span>
  </div>
<br><br>

<button class="button" type="submit" value="Add Game" name="game"><span class="button-content">Add</span></button>


</form>

<%- include('../partials/footer') %>

