<%- include('./partials/header') %>

    <h1 class="gameName">WELCOME TO GAMEPLEX</h1>
    <h3>Level Up Your Gaming Experience</h3>
    <form action="/games" method="get">
        <button id=>EXPLORE</button>
    </form>

<%- include('./partials/footer') %>


