<%- include('./partials/header') %>

    <h1>WELCOME TO GAMEPLEX</h1>
    <h3>Level Up Your Gaming Experience</h3>
    <form action="/games" method="get">
        <button>EXPLORE</button>
    </form>

<%- include('./partials/footer') %>


