<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <% if (user) { %>
      <a href="/games/new" <%- title === 'Add Game'  %>>ADD GAME</a>
      <a href="/profile">PROFILE</a>

      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login"><img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </head>
  <body>
