<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <% if (user) { %>

     
      <a class="navBarClass" href="/games" <%- title === 'All Games'  %>>ALL GAME</a>
     
      <a class="navBarClass" href="/games/new" <%- title === 'Add Game'  %>>ADD GAME</a>
      <a class="navBarClass" href="/profile">PROFILE</a>

      <a class="navBarClass" href="/logout">LOG OUT</a>
    <% } else { %>
      <a class="navBarClass" href="/auth/google" class="login"><img src="https://i.imgur.com/FHjYyi0.png" id="googlepic"></a>
    <% } %>
  </head>
  <body>
